<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <title>Fablix</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}" href="/">Fablix</a>
        <ul class="navbar-nav mr-auto"></ul>
        <!--/*@thymesVar id="logged_email" type="java.lang.String"*/-->
        <span th:text="${logged_email}" class="mx-3">email</span>
        <a class="btn btn-outline-secondary" role="button" th:href="@{/logout}"> LOG OUT</a>
    </nav>
    <div class="btn-group-vertical" style="position: fixed; bottom: 1rem; right:1rem;">
        <a id="checkout" role="button" class="btn btn-warning" th:href="@{/checkout}">
            Checkout
        </a>
    </div>
    <div class="root container">
        <h1 class="display-4">Movie Info</h1>
        <h2 th:text="${singleMovie.getTitle()}">Movie Title</h2>
        <dl class="row">
            <dt class="col-sm-3">Year</dt>
            <dd class="col-sm-9" th:text="${singleMovie.getYear()}"></dd>
            <dt class="col-sm-3">Director</dt>
            <dd class="col-sm-9" th:text="${singleMovie.getDirector()}"></dd>
            <dt class="col-sm-3">Rating</dt>
            <dd class="col-sm-9" th:text="(${singleMovieRating.getRating()} >= 0) ? ${singleMovieRating.getRating()} : 'N/A'"></dd>

        </dl>
        <div style="margin-bottom: 1rem;">
            <button type="button" class="btn btn-warning cart" th:id="'cart-'+${singleMovie.getId()}" th:data-title="${singleMovie.getTitle()}">Add to shopping cart</button>
            <span></span>
        </div>
        <div>
            <h3>Genres</h3>
            <p>
                <span th:each="genre,iterStat :${singleMovieGenres}" th:text="${genre.getName()} + (${iterStat.last}? '':', ')">
                    N/A
                </span>
            </p>
        </div>
        <div>
            <h3>Stars</h3>
            <ul>
                <li th:each="star,iterStat : ${singleMovieStars}">
                    <a  th:href="@{/star/singlestar(id=${star.getId()})}" th:text="${star.getName()}">N/A</a>
                </li>
            </ul>
        </div>

        <div>
            <a class="btn btn-primary btn-lg btn-block" role="button" th:href="${returnAddress}">Return to Movie List</a></td>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/customer.js}"></script>
</body>
</html>